.form{
    border: solid 1px #000000db;
}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding:10px ;
    border: solid 2px #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.contato{
    max-width: 600px;
    margin:0 auto ;
    padding: 20px;
    border: solid 2px;
    border-radius: 10px;
}

.titulo-formulario{
    text-align: center;
    margin-bottom: 20px;
}

#contactForm input,
#contactform button{
    widows: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border:solid 1px #ccc;
    border-radius: 5px;
}

#contactForm button{
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#contactForm button :hover{
    background-color: #000000;
}

.checkbox-container{
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    padding: 2px;
}
.verifica{
    display: flex;
}
.checkbox-container input [type="checkbox"]{
    margin: 0 2px 0 0;
    transform: scale(1.5);
}
.chackbox-container label{
    font-weight: bold;
    margin: 0; 
    flex-grow: 1;
}
.chackbox-container a{
    color: #071137;
    text-decoration: underline;
    margin: 0;
}