.cabeçalho{
    background: linear-gradient(rgba(150, 149, 27, 0.5), rgba(150, 149, 27, 0.5)),
    url("../imagens/carro_germanico.jpg");/*separar imaagem do gradiente de cor*/
    /*para uma cor mais viva mude para rgba(150, 149, 27, 0.5)*/
    background-size: cover ;/*cobrir a área do cabeçalho*/
    background-position: center;/*centraliar imagem*/
    width: 100%;
    height: 300px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titulo{
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitulo{
    font-size: 24px;
    margin-bottom: 20px;
}
.botao{
    padding: 15px 30px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
}